body {
    font-family: 'Roboto', 'Shrikhand', Arial, 'Arial Black', 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
@media all and (max-width: 700px) {
    #bloc_page {
        width: auto;
    }   
    .logo__main {
        height: 45px;
        padding-top: 20px;
        text-align: center;
        box-shadow: 0 0 0.5rem #c1c1bd;
        position: relative;
    }
    .logo__mainb {
        text-align: center;
        padding-top: 20px;
        padding-right: 70px;
        column-gap: 30px;
    }
    .logo__mainb a {
        text-decoration: none;
        padding-right: 70px;
        position: absolute;
        left: 2rem;
        top: 1.5rem;
    }
    .logob {
        padding-left: 5rem;
    }
    .logo, .logob {
        width: 50%;
    }
    .localisation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 16px 0;
        background-color: #eaeaea;
      }
    .localisation__texte {
        font-size: 100%;
        border: none;
        background: none;
        text-align: center;
        font-weight: bold;
        color: black;
        width: 45%;
    }
    .localisation input::placeholder {
        color: black;
    }
    .decouverte {
        padding: 2rem;
        text-align: center;
        background-color: #f6f6f6;
    }
    .decouverte h2 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .decouverte p {
        font-weight: 300;
        margin: 1.5rem 0;
    }
    .decouverte__bouton {
        text-decoration: none;
        border: 0;
        padding: .75rem 1.5rem;
        font-weight: 500;
        font-size: 1.1rem;
        border-radius: 100px;
        color: #fff;
        background-color: #d123c8;
    }
    .fonctionnement h1 {
        margin-left: 30px;
        margin-top: 40px;
    }
    .fonctionnement__menu {
        list-style: none;
        padding-left: 30px;
        margin-right: 20px;  
    }
    .fonctionnement__choix, .fonctionnement__composition, .fonctionnement__degustation {
        padding: 1.5rem;
        margin: 1rem 0 1rem 0.75rem;
        border-radius: 1.25rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 12%);
        background-color: #f6f6f6;
        display: flex;
        column-gap: 30px;
    }
    .fonctionnement__choix .fas, 
    .fonctionnement__composition .fas, 
    .fonctionnement__degustation .fas {
        margin-left: -40px;
    }
    .numero {
        border-radius: 50%;
        background-color: #9356DC;
        color: #fff;
        position: relative;
        width: 20px;
        height: 20px;
        right: 35px;
        text-align: center;
    }
    .choix {
        font-weight: bold;
    }
    .restaurant {
        background-color: #f6f6f6;
        margin-top: 60px;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .restaurant h1 {
        padding-left: 20px;
    }
    .carte {
        border-radius: 15px;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
    }
    .carte a {
        text-decoration: none;
        color: black;
    }
    .carte__legende {
        border-radius: 0px 0px 15px 15px;
        background-color: #fff;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 5px;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .carte__nom {
        grid-column-start: 1;
        grid-row: 1;
    }
    .carte__lieu {
        font-size: 14px;
        grid-column-start: 1;
        grid-row: 2;
    }
    .carte_icone {
        grid-column-start: 2;
        grid-row: span 2;
        padding-left: 100px;
        padding-top: 10px;
    }
    .nouveau {
        background-color: #99e2d0;
        color: #1b6150;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 7px;
        border-radius: 2px;
        font-weight: bold;
    }
    .la_palette_du_gout {
        background-image: url("../images/photos/la_palette_du_gout.jpg");
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
        background-position: center;
        height: 180px;
    }
    .la_note_enchantee {
        background-image: url("../images/photos/la_note_enchantee.jpg");
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
        background-position: center;
        height: 180px;
    }
    .a_la_francaise {
        background-image: url("../images/photos/a_la_francaise.jpg");
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
        background-position: center;
        height: 180px;
    }
    .le_délice_des_sens {
        background-image: url("../images/photos/le_delice_des_sens.jpg");
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
        background-position: center;
        height: 180px;
    }
    footer {
        background-color: #353535;
        margin-top: -20px;
    }
    footer h2 {
        color: #fff;
        font-family: 'Shrikhand';
        font-size: 1.2rem;
        margin-bottom: 8px;
        margin-left: 25px;
        padding-top: 30px;
    }
    nav {
        padding-bottom: 20px;
    }
    nav a {
        text-decoration: none;
        color: #fff;
        margin-left: 25px;
    }
    .icone__proposition, .icone__partenaire {
        display: flex;
        column-gap: 20px;
        align-items: center;
        margin-left: 25px;
        margin-bottom: -10px;
        margin-top: -20px;
    }
    nav p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /*page A la Française bug*/
    .photo_a_la_francaise {
        background-image: url("../images/photos/a_la_francaise.jpg");
        background-size: cover;
        background-position: center;
    }
    .menu {
        background-color: #f6f6f6;
        border-radius: 40px 40px 0px 0px;
    }
    .legende {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 10px;
        position: relative;
    }
    .legende h1 {
        font-family: 'Shrikhand';
        font-size: 23px;
        padding-left: 20px;
        white-space: nowrap;
    }
    .icone__legende {
        left: 320px;
        top: 37px;
        position: absolute;
    }
    .entrees h3, .plats h3, .desserts h3 {
        padding-left: 20px;
        font-size: 13px;
        font-weight: 400;
    }
    .entrees__choix1, .entrees__choix2, .entrees__choix3, .entrees__choix4,
    .plats__choix1, .plats__choix2, .plats__choix3,
    .desserts__choix1, .desserts__choix2, .desserts__choix3 {
        padding: 15px;
        margin: 15px;
        border-radius: 1.25rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 12%);
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .entrees__choix1--titre, .entrees__choix2--titre, .entrees__choix3--titre, .entrees__choix4--titre,
    .plats__choix1--titre, .plats__choix2--titre, .plats__choix3--titre,
    .desserts__choix1--titre, .desserts__choix2--titre, .desserts__choix3--titre {
        grid-column-start: 1;
        grid-column: span 3;
        grid-row: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .entrees__choix1--indication, .entrees__choix2--indication, .entrees__choix3--indication, .entrees__choix4--indication,
    .plats__choix1--indication, .plats__choix2--indication, .plats__choix3--indication,
    .desserts__choix1--indication, .desserts__choix2--indication, .desserts__choix3--indication {
        grid-column-start: 1;
        grid-column: span 3;
        font-size: 13px;
        height: 20px;
        margin-top: -10px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .entrees__choix1--tarif, .entrees__choix2--tarif, .entrees__choix3--tarif, .entrees__choix4--tarif,
    .plats__choix1--tarif, .plats__choix2--tarif, .plats__choix3--tarif,
    .desserts__choix1--tarif, .desserts__choix2--tarif, .desserts__choix3--tarif {
        grid-column-start: 4;
        grid-row: 2;
        padding-left: 50px;
        padding-top: 10px;
        font-weight: 700;
        margin-top: -10px;
    }
    .commande__bouton {
        display: flex;
        justify-content: center;
    }
    .commande__bouton input {
        text-decoration: none;
        border: 0;
        padding: .75rem 1.5rem;
        font-weight: 500;
        font-size: 15px;
        border-radius: 100px;
        color: #fff;
        background-color: #d123c8;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 70px;
    }
}