body {
    font-family: 'Roboto', 'Shrikhand', Arial, 'Arial Black', 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
/*----Version Mobile----*/
@media (min-width: 50px) {
    #bloc_page {
        width: auto;
    }
    @import "./utils/variables"; /*Fait le lien avec le fichier SCSS contenant les variables/mixins*/

    /*Logo page d'accueil*/  
    .logo-a {
        height: 45px;
        padding-top: 20px;
        text-align: center;
        box-shadow: 0 0 0.5rem #c1c1bd; /*Ligne foncé sous le logo*/
        position: relative; /*Permet d'afficher la bordure ombrée au dessus du background gris de localisation*/
            &__accueil {
                width: 50%;
            }
    }
    /*logo pages restaurants*/
    .logo-p {
        text-align: center;
        padding-top: 20px;
        padding-right: 70px;
        column-gap: 30px;
            &__page {
                width: 50%;
                padding-left: 5rem;
            }
        a { /*Flêche de retour à la page d'accueil*/
            text-decoration: none;
            padding-right: 70px;
            position: absolute; /*Permet de placer la flèche*/
            left: 2rem;
            top: 1.5rem;
        }
        .fas { /*Icone flèche retour en arrière des pages de restaurant*/
            color: $Couleur_senaire;
        }
    }
    /*Champ de saisie de localisation*/
    .localisation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 16px 0;
        background-color: #eaeaea;
            &__texte {
                font-size: 100%;
                border: none;
                background: none;
                text-align: center;
                font-weight: bold;
                text-overflow: ellipsis;
                color: $Couleur_senaire;
                width: 45%;
            }
        input::placeholder { /*Affiche par défaut un texte*/
            color: $Couleur_senaire;
            }
        .fas { /*Icone Localisation*/
            color: $Couleur_senaire;
        }
      }
    /*Zone slogan + bouton explorer*/
    .decouverte {
        padding: 2rem;
        text-align: center;
        background-color: $Couleur_quaternaire;
        h2 { /*Slogan*/
            margin: 0;
            font-size: 1.5rem;
            font-weight: bold;
        }
        p { /*Sous-titre*/
            font-weight: 300;
            margin: 1.5rem 0; /*marge top/bot=1.5 marge left/right=0*/
        }
        &__bouton { /*Bouton Explorer nos restaurants*/
            display: flex;
            justify-content: center;
            input {
                text-decoration: none;
                border: 0;
                padding: 12px 30px;
                font-weight: 400;
                font-size: 15px;
                border-radius: 100px;
                box-shadow: 0px 5px 5px lightgrey;
                color: $Couleur_quinaire;
                background: linear-gradient(to bottom right, $Couleur_secondaire, $Couleur_primaire);/*dégradé*/
                cursor: pointer;
                margin-top: 30px;
                margin-bottom: 50px;
            }
            &:hover { /*Animation au survol*/
                font-size: 16px;
                input {
                    transition-duration: 1000ms;
                    opacity: 0.80;                          /*S'éclaire*/
                    box-shadow: 0px 10px 5px lightgrey;   /*Ombre portée légèrement plus visisble*/
                }
            }
        }
    }
    /*Menu Fonctionnement*/
    .fonctionnement {
        h1 {
            margin-left: 30px;
            margin-top: 40px;
        }
        &__menu {
            list-style: none;/*Enlève les li*/
            padding-left: 30px;
            margin-right: 20px;
            &--option {
                padding: 1.5rem;
                margin: 1rem 0 1rem 0.75rem;
                border-radius: 1.25rem;
                box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
                background-color: $Couleur_quaternaire;
                display: flex;
                column-gap: 30px;
                &:hover { /*Devient plus foncé et ombres plus marquées au survol*/
                    background-color: #f5edff;
                    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                    .fas {
                        color: $Couleur_primaire;  /*Change l'icone de couleur au survol*/
                    }
                }
                .fas { /*Icones du menu Fonctionnement*/
                    color: #7e7e7e;
                    margin-left: -40px;
                }
            }  
        }
    }
    /*Balise numérotée 1 à 3*/
    .numero {
        border-radius: 50%;
        background-color: $Couleur_primaire;
        color: $Couleur_quinaire;
        position: relative;  /*Placement*/
        width: 20px;
        height: 20px;
        right: 35px;
        text-align: center;
    }
    /*Texte du menu*/
    .choix {
        font-weight: bold;
    }
    /*Section des Restaurants*/
    .restaurant {
        background-color: $Couleur_quaternaire;
        margin-top: 60px;
        padding-top: 30px;
        padding-bottom: 40px;
        margin-bottom: 60px;
        h1 {
            padding-left: 20px; 
        }
    }
    /*Carte des restaurants*/
    .carte {
        border-radius: 15px;
        margin-left: 20px;
        margin-right: 20px;
        position: relative; /*Permet le placement du stickers "Nouveau"*/
            &__legende {  /*Légende des cartes des restaurants*/
                border-radius: 0px 0px 15px 15px;
                background-color: $Couleur_quinaire;
                margin-bottom: 20px;
                display: grid;
                grid-template-columns: 3fr 1fr;
                row-gap: 5px;
                padding-left: 15px;
                padding-top: 15px;
                padding-bottom: 15px;
                    &--nom { /*Nom des restaurants dans les cartes*/
                        grid-column-start: 1;
                        grid-row: 1;
                    }
                    &--lieu { /*Lieu des restaurant dans les cartes*/
                        font-size: 14px;
                        grid-column-start: 1;
                        grid-row: 2;
                    }
                    &--icone {
                        grid-column-start: 2;
                        grid-row: span 2;
                        padding-top: 10px;
                        padding-right: 10px;
                        display: flex;
                        justify-content: flex-end;
                        .heart { /*Coeur page d'accueil*/
                            display: flex;
                            justify-content: flex-end;
                            width: 24px;
                            font-size: 150%;
                            z-index: 1; /*Icone coeur vide au 1er plan*/
                            cursor: pointer;
                            position: relative;
                            &:hover { /*Au survol du coeur vide, le coeur vide voit sa bordure prendre le même dégradé que le coeur plein pour se confondre*/
                                background: linear-gradient(0deg,$Couleur_secondaire 0%, #d96edf 35%,#b261e4 70%,$Couleur_primaire 100%);
                                background-clip: text;
                                -webkit-background-clip: text;
                                color: transparent;
                                .heart-color { /*Au survol du coeur vide, le coeur plein devient visible et grandi*/
                                    transform: scale(1);
                                    opacity: 1;
                                }
                            }
                        }
                        .heart-color { /*Icone coeur "plein" caché & transition*/
                            right: 0px;
                            position: absolute;
                            z-index: -1; /*Icone coeur plein au second plan*/
                            background: linear-gradient(0deg,$Couleur_secondaire 0%, #d96edf 35%,#b261e4 70%,$Couleur_primaire 100%); 
                            /*Un dégradé qui démarre du bas et va vers le haut qui commence de la couleur secondaire à 0% et fini à la couleur primaire à 100% avec 2 étapes à 35 et 70%*/
                            background-clip: text;/*Permet au background d'être appliqué sur le coeur qui ne prend que la propriété color normalement*/
                            -webkit-background-clip: text; /*pas supporté par chrome donc obligé de passer par webkit*/
                            color: transparent;
                            opacity: 0;
                            transform: scale(0);
                            transition: 300ms ease-in-out;/*L'animation commence lentement, accèlere puis ralentit à nouveau avant la fin*/
                            }
                    } 
            }
        a { /*Lien des cartes*/
            text-decoration: none;
            color: $Couleur_senaire;
        }
    }
    /*Stickers*/
    .nouveau {
        background-color: $Couleur_tertiaire;
        color: #1b6150;
        position: absolute; /*Permet le placement du stickers sur une carte*/
        top: 10px;
        right: 10px;
        padding: 7px;
        border-radius: 2px;
        font-weight: bold;
    }
    /*Mise en page des images des cartes*/
    .la_palette_du_gout {
        background-image: url("../../images/photos/la_palette_du_gout.jpg");
        @include mise-en-page-image; /*Application de la mixin*/
    }
    .la_note_enchantee {
        background-image: url("../../images/photos/la_note_enchantee.jpg");
        @include mise-en-page-image;
    }
    .a_la_francaise {
        background-image: url("../../images/photos/a_la_francaise.jpg");
        @include mise-en-page-image;
    }
    .le_délice_des_sens {
        background-image: url("../../images/photos/le_delice_des_sens.jpg");
        @include mise-en-page-image;
    }
    /*------------*/
    /*---Footer---*/
    /*------------*/
    footer {
        background-color: #353535;
        margin-top: -60px;
        h2 {
            color: $Couleur_quinaire;
            font-family: 'Shrikhand';
            font-size: 1.2rem;
            margin-bottom: 8px;
            margin-left: 25px;
            padding-top: 30px;
            font-weight: normal; /*Gras plus fin*/
        }
    }
    nav {
        padding-bottom: 20px;
        a {
            text-decoration: none;
            color: $Couleur_quinaire;
            margin-left: 25px; 
        }
        p {
            margin-top: 10px;
            margin-bottom: 10px;
            &:hover {
                text-decoration: underline; /*Souligne les liens au survol*/
            }  
        }
    }
    /*Icone du Footer*/
    .icone__proposition {
        @include icone-footer;
        .fas {
            font-size: 105%;
        }
    }
    .icone__partenaire {
        @include icone-footer;
        .fas {
            font-size: 70%;
        }
    }
    /*Mise en page photo des pages restaurants*/
    .photo_a_la_francaise {
        background-image: url("../../images/photos/a_la_francaise.jpg");
        @include mise-en-photo-image;
    }
    .photo_la_palette_du_gout {
        background-image: url("../../images/photos/la_palette_du_gout.jpg");
        @include mise-en-photo-image;
    }
    .photo_la_note_enchantée {
        background-image: url("../../images/photos/la_note_enchantee.jpg");
        @include mise-en-photo-image;
    }
    .photo_le_délice_des_sens {
        background-image: url("../../images/photos/le_delice_des_sens.jpg");
        @include mise-en-photo-image;
    }
    /*Menu des restaurants*/
    .menu {
        background-color: $Couleur_quaternaire;
        border-radius: 40px 40px 0px 0px;
        position: relative; /*Superpose sur la photo du restaurant en haut*/
        top: -40px;
    }
    /*Nom du restaurant + icone coeur*/
    .legende {
        padding-top: 10px;
        position: relative;
        h1 {
            font-family: 'Shrikhand';
            font-size: 23px;
            padding-left: 20px;
            white-space: nowrap;
        }
        &__icone {
            left: 320px;
            top: 35px;
            position: absolute;
            .heart { /*Coeurs des pages restaurants*/
                z-index: 1;/*Icone coeur vide au 1er plan*/
                cursor: pointer;
                position: relative;
                font-size: 150%;
                &:hover { /*Au survol du coeur vide, le coeur vide voit sa bordure prendre le même dégradé que le coeur plein pour se confondre*/
                    background: linear-gradient(0deg,$Couleur_secondaire 0%, #d96edf 35%,#b261e4 70%,$Couleur_primaire 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    .heart-color { /*Au survol du coeur vide, le coeur plein devient visible et grandi*/
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
            .heart-color { /*Icone coeur "plein" caché & transition*/
                right: 0px;
                position: absolute;
                z-index: -1; /*Icone coeur plein au second plan*/
                background: linear-gradient(0deg,$Couleur_secondaire 0%, #d96edf 35%,#b261e4 70%,$Couleur_primaire 100%); 
                /*Un dégradé qui démarre du bas et va vers le haut qui commence de la couleur secondaire à 0% et fini à la couleur primaire à 100% avec 2 étapes à 35 et 70%*/
                background-clip: text;/*Permet au background d'être appliqué sur le coeur qui ne prend que la propriété color normalement*/
                -webkit-background-clip: text; /*pas supporté par chrome donc obligé de passer par webkit*/
                color: transparent;
                opacity: 0;
                transform: scale(0);
                transition: 300ms ease-in-out;/*L'animation commence lentement, accèlere puis ralentit à nouveau avant la fin*/
            }
        }
    }
    /*Différents type de plats*/
    .entrees {
        margin-top: 50px;
    }
    h3 {
        padding-left: 20px;
        font-size: 13px;
        font-weight: 400;
    }
    /*Barre verte : élément de rupture thématique*/
    hr {
        width: 32px;
        height: 3px;
        border-style: none;
        background-color: $Couleur_tertiaire;
        position: relative;
        right: 40.5%;
        margin-top: -10px;
    }
    .plats {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    /*Coche de validation caché*/
    .valider {
        background-color: $Couleur_tertiaire;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        border-radius: 0 1.25rem 1.25rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0; /*Invisible*/
        &__icone { /*Zone de l'icone de la coche de validation*/
            height: 1.6rem;
            width: 1.6rem;
            background-color: $Couleur_quinaire;
            display: flex;
            align-items: center;        /*Duplication sinon décalage icone*/
            justify-content: center;
            border-radius: 100px;
            .far { /*Icone de validation*/
                color: $Couleur_tertiaire;
                font-size: 200%;
            }
        }
    }
    /*Bouton commander des pages restaurants*/
    .commande__bouton {
        display: flex;
        justify-content: center;
        input {
            text-decoration: none;
            border: 0;
            padding: 12px 30px;
            font-weight: 600;
            font-size: 15px;
            border-radius: 100px;
            box-shadow: 0px 5px 5px lightgrey;
            color: $Couleur_quinaire;
            background: linear-gradient(to bottom right, $Couleur_secondaire, $Couleur_primaire);
            cursor: pointer;
            margin-top: 30px;
            margin-bottom: 70px;
            width: 170px;
        }
        &:hover { /*Animation au survol*/
            font-size: 16px;
            input {
                transition-duration: 1000ms;
                opacity: 0.80;                          /*S'éclaire*/
                box-shadow: 0px 10px 5px lightgrey;   /*Ombre portée légèrement plus visisble*/ 
            }
        }
    }
    /*------------------------------*/
    /*---Animation page d'accueil---*/
    /*------------------------------*/
    /*Fait apparaitre un loadingspinner puis le fait disparaitre au chargement de la page d'accueil*/
    @keyframes loadingspinner{
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            z-index: -10;
        }
    }
    /*Loader*/
    .loadingspinner {
        width: 100%;  /*Couvre toute la page*/
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed; /*Permet le placement au centre de la page*/
        background-color: hsla(0,0%,100%,.9); /*hsla(hue, saturation, lightness, alpha)*/
        z-index: 999; /*positionnement au 1er plan*/
        animation: loadingspinner $anim-dur 1000ms both;/*Application de la keyframe au chargement de la page d'accueil*/
                   /*nom keyframe durée  délai  extention propiété*/
            &__icone { /*Icones du loader*/
                display: flex;
                justify-content: space-between;
                column-gap: 30px;
                font-size: 300%;
                &--1 {
                    .fas {
                        color: $Couleur_primaire;
                    }
                }
                &--2 {
                    .fas {
                        color: $Couleur_secondaire;
                    }
                }
                &--3 {
                    .fas {
                        color: $Couleur_tertiaire;
                    }
                }
            }
    }
    /*-------------------------*/
    /*---Animation des menus---*/
    /*-------------------------*/
    /*Fait apparaitre les choix des plats et les fait monter légèrement au chargement de la page d'un restaurant*/
    @keyframes menuchoix{
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        33% {
            opacity: 0.33;
        }
        66% {
            opacity: 0.66;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }      
    }
    /*Fait apparaitre la coche de validation et la fait bouger de gauche à droite*/
    @keyframes valider{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateX(-60px);
        }       
    }
    /*Fait pivoter l'icone de la coche de validation*/
    @keyframes valider__icone{
        100% {
            transform: rotate(360deg);
        }
    }
    /*Fait bouger de gauche à droite le tarif*/
    @keyframes tarif{
        100% {
            transform: translateX(-60px);
        }
    }
    /*Réduit la zone des intitulés de plats par la droite*/
    @keyframes indication{
        0% {
            margin-right: 0px;
        }
        100% {
            margin-right: 60px;
        }   
    }
    /*Application de la keyframe au chargement d'une page de restaurant*/
    .menu__choix {
        padding: 13px;
        margin: 15px;
        height: 58px;
        border-radius: 1.25rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2%);
        background-color: $Couleur_quinaire;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        @include overflow;
	    animation: menuchoix $anim-dur both; /*nom keyframe / durée / extension de la propriété avec fill-mode*/
        @for $i from 1 through 10 { /*Boucle Sass permettant de répéter l'instruction jusqu'à 10 fois*/
		        &--#{$i} { /*& ----> .menu__choix*/
			    animation-delay: $anim-delay * $i; /*Délai en fonction de l'ordre numéroté*/
            }
        }
        &--titre { /*Zone des intitulés des plats*/
            display: flex;
            flex-direction: column;
            width: 85%;
            @include overflow;
            strong { /*Intitulés des plats*/
                @include overflow;
                margin: 5px;
            }
            p { /*Indications des plats*/
                @include overflow;
                margin: 5px;
            }
        }
        &--tarif { /*Tarifs des plats*/
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;     
            font-weight: 700;
            white-space: nowrap;    /*Pas de retour à la ligne*/
            text-overflow: ellipsis;/*Met des "..." si le texte dépasse de la zone textuelle*/
            padding-bottom: 5px;
        }
        &:hover { /*Application de la keyframe sur la zone de intitulé des plats au survol des choix du menu*/
            .menu__choix--titre {
                animation: indication $anim-dur_menu both; /*both: permet d'étendre la propriétéde la keyframe*/
                           /*nom keyframe  durée*/
            }
            .valider { /*Application de la keyframe sur la coche au survol des choix du menu*/
                animation: valider $anim-dur_menu both;
            }
            .valider__icone { /*Application de la keyframe sur l'icone de la coche au survol des choix du menu*/
                animation: valider__icone $anim-dur_menu both;
            }
            .menu__choix--tarif { /*Application de la keyframe sur les tarifs au survol des choix du menu*/
                animation: tarif $anim-dur_menu both;
            }
        }
    }
}
@media (min-width: 270px) {
    /*Icone coeur*/
    .legende__icone {
        left: 240px;
        top: 29px;
        .heart {
            font-size: 170%;
        }
    }
}
@media (min-width: 300px) {
    /*Icone coeur*/
    .legende__icone {
        left: 270px;
        top: 30px;
        .heart {
            font-size: 180%;
        }
    }
}
@media (min-width: 370px) {
    .legende__icone {
        left: 320px;
        top: 35px;
    }
}
/*---Version Tablette---*/
@media (min-width: 400px) {
    /*Loadingspinner*/
    .loadingspinner__icone {
        font-size: 450%;
    }
    /*Logo header*/
    .logo-a {
        height: 75px;
        padding-top: 10px;
            &__accueil {
                width: 70%;
                padding-top: 5px;
            }
    }
    .logo-p {
        &__page {
            width: 70%;
        }
        .fas { /*Icone flèche de retour du header des pages restaurants*/
            font-size: 200%;
        }
        a {
            top: 25px;
        }
    } 
    /*Icone Localisation*/
    .localisation {
        .fas {
            font-size: 110%;
            padding-top: 3px;
        }
        &__texte {
            font-size: 20px;
            width: 20%;
        }
    }
    /*Slogan*/
    .decouverte {
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 22px;  
        }
    }
    /*Bouton Explorer nos restaurants*/
    .decouverte__bouton {
        input {
            font-size: 20px;
            padding: 15px 30px;
        }
    }
    /*Menu Fonctionnement*/
    .fonctionnement {
        h1 {
            font-size: 30px;
        }
    }
    .choix {
        font-size: 23px;
    }
    /*Icones du menu Fonctionnement*/
    .fonctionnement__menu--option {
        .fas {
            font-size: 120%;
            padding-top: 3px;
        }
    }
    .numero {
        width: 25px;
        height: 25px;
        padding-top: 2px;
    }
    .restaurant {
        h1 {
            font-size: 30px;
        }
    }
    /*Mise en page photos des restaurants*/
    .la_palette_du_gout, .la_note_enchantee, .a_la_francaise, .le_délice_des_sens {
        height: 250px;
    }
    .carte__legende {
        font-size: 18px;
            &--lieu {
                font-size: 17px;
            }
    }
    /*Footer*/
    footer {
        h2 {
            font-size: 25px;
        }
    }
    nav {
        p {
            font-size: 20px;
        }
    }
    /*Icones du Footer*/
    .icone__proposition .fas {
        font-size: 125%;
    }
    .icone__partenaire .fas {
        font-size: 90%;
    }
    /*Titre restaurant des pages restaurants*/
    .legende {
        h1 {
            font-size: 30px;
        }
    }
    /*Icone coeur*/
    .legende__icone {
        left: 380px;
        top: 40px;
        .heart {
            font-size: 200%;
        }
    }
    h3 {
        font-size: 16px;
    }
    /*Elément de rupture thématique*/
    hr {
        margin: -10px 0 0 20px;
        width: 40px;
        position: static; /*Annule position relative*/
    }
    .menu__choix {
        &--titre { /*Nom des plats*/
            strong {
                margin: 2px;
                font-size: 20px;  
            }
            p {
                margin: 2px;
                font-size: 20px;
            }
        }
        &--tarif { /*Tarifs des plats*/
            font-size: 20px;
        }
    }
    /*Icone de validation*/
    .valider__icone {
        .far {
            font-size: 230%;
        }
    }
    /*Bouton de commande*/
    .commande__bouton {
        input {
            font-size: 20px;
            padding: 15px 30px;
            width: auto; /*Annule taille de la version mobile*/
        }
    }
}
@media (min-width: 700px) {
    .logo-a__accueil {
        width: auto;
        padding-top: 0px;
    }
    .logo-p a {
        top: 40px;
    }
    /*Icone coeur*/
    .legende__icone {
        left: 680px;
    }
}
/*---Version Desktop---*/
@media (min-width: 800px) {
    .logo-p a {
        top: 50px;
    }
    .restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .carte {
        width: 50%;
        &__legende {
            &--icone {
                .heart {
                    width: 36px; 
                }
            }
        }
    }
    /*---Pages---*/
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .legende, .entrees, .plats, .desserts {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*Mise en page photo des pages restaurants*/
    .photo_la_palette_du_gout, .photo_a_la_francaise, .photo_la_note_enchantée, .photo_le_délice_des_sens {
        height: 400px;
    }
    /*Icone coeur page des restaurants*/
    .legende__icone {
        left: 310px;
    }
    /*Plats du menu*/
    .menu__choix {
        width: 400px;
    }
}