body {
    font-family: 'Roboto', 'Shrikhand', Arial, 'Arial Black', 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
/*----Version Mobile----*/
@media (min-width: 300px) {
    #bloc_page {
        width: auto;
    }   
    .logo__main {
        height: 45px;
        padding-top: 20px;
        text-align: center;
        box-shadow: 0 0 0.5rem #c1c1bd;
        position: relative;
    }
    .logo__mainb {
        text-align: center;
        padding-top: 20px;
        padding-right: 70px;
        column-gap: 30px;
    }
    .logo__mainb a {
        text-decoration: none;
        padding-right: 70px;
        position: absolute;
        left: 2rem;
        top: 1.5rem;
    }
    .logob {
        padding-left: 5rem;
    }
    .logo, .logob {
        width: 50%;
    }
    .localisation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 16px 0;
        background-color: #eaeaea;
      }
    .localisation__texte {
        font-size: 100%;
        border: none;
        background: none;
        text-align: center;
        font-weight: bold;
        color: black;
        width: 45%;
    }
    .localisation input::placeholder {
        color: black;
    }
    .decouverte {
        padding: 2rem;
        text-align: center;
        background-color: #f6f6f6;
    }
    .decouverte h2 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .decouverte p {
        font-weight: 300;
        margin: 1.5rem 0;
    }
    .decouverte__bouton {
        display: flex;
        justify-content: center;
    }
    .decouverte__bouton:hover input {
        transition-duration: 1000ms;
        opacity: 0.80;
        box-shadow: 0px 10px 5px lightgrey;
    }
    .decouverte__bouton input {
        text-decoration: none;
        border: 0;
        padding: 12px 30px;
        font-weight: 400;
        font-size: 15px;
        border-radius: 100px;
        box-shadow: 0px 5px 5px lightgrey;
        color: #fff;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .fonctionnement h1 {
        margin-left: 30px;
        margin-top: 40px;
    }
    .fonctionnement__menu {
        list-style: none;
        padding-left: 30px;
        margin-right: 20px;  
    }
    .fonctionnement__choix, .fonctionnement__composition, .fonctionnement__degustation {
        padding: 1.5rem;
        margin: 1rem 0 1rem 0.75rem;
        border-radius: 1.25rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
        background-color: #f6f6f6;
        display: flex;
        column-gap: 30px;
    }
    .fonctionnement__choix:hover,
    .fonctionnement__composition:hover, 
    .fonctionnement__degustation:hover {
        background-color: #f5edff;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    }
    .fonctionnement__choix:hover .fas,
    .fonctionnement__composition:hover .fas, 
    .fonctionnement__degustation:hover .fas {
        color: #9356DC;
    }
    .fonctionnement__choix .fas, 
    .fonctionnement__composition .fas, 
    .fonctionnement__degustation .fas {
        margin-left: -40px;
    }
    .numero {
        border-radius: 50%;
        background-color: #9356DC;
        color: #fff;
        position: relative;
        width: 20px;
        height: 20px;
        right: 35px;
        text-align: center;
    }
    .choix {
        font-weight: bold;
    }
    .restaurant {
        background-color: #f6f6f6;
        margin-top: 60px;
        padding-top: 30px;
        padding-bottom: 40px;
        margin-bottom: 60px;
    }
    .restaurant h1 {
        padding-left: 20px;
    }
    .carte {
        border-radius: 15px;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
    }
    .carte a {
        text-decoration: none;
        color: black;
    }
    .carte__legende {
        border-radius: 0px 0px 15px 15px;
        background-color: #fff;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        row-gap: 5px;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .carte__nom {
        grid-column-start: 1;
        grid-row: 1;
    }
    .carte__lieu {
        font-size: 14px;
        grid-column-start: 1;
        grid-row: 2;
    }
    .carte_icone {
        grid-column-start: 2;
        grid-row: span 2;
        padding-top: 10px;
    }
    .carte_icone .far {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .carte_icone .fas {
        opacity: 0;
        position: absolute;
    }
    .nouveau {
        background-color: #99e2d0;
        color: #1b6150;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 7px;
        border-radius: 2px;
        font-weight: bold;
    }
    .la_palette_du_gout {
        background-image: url("../../images/photos/la_palette_du_gout.jpg");
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
        background-position: center;
        height: 180px;
    }
    .la_note_enchantee {
        background-image: url("../../images/photos/la_note_enchantee.jpg");
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
        background-position: center;
        height: 180px;
    }
    .a_la_francaise {
        background-image: url("../../images/photos/a_la_francaise.jpg");
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
        background-position: center;
        height: 180px;
    }
    .le_délice_des_sens {
        background-image: url("../../images/photos/le_delice_des_sens.jpg");
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
        background-position: center;
        height: 180px;
    }
    footer {
        background-color: #353535;
        margin-top: -60px;
    }
    footer h2 {
        color: #fff;
        font-family: 'Shrikhand';
        font-size: 1.2rem;
        margin-bottom: 8px;
        margin-left: 25px;
        padding-top: 30px;
        font-weight: normal;
    }
    nav {
        padding-bottom: 20px;
    }
    nav a {
        text-decoration: none;
        color: #fff;
        margin-left: 25px;
    }
    .icone__proposition, .icone__partenaire {
        display: flex;
        column-gap: 20px;
        align-items: center;
        margin-left: 25px;
        margin-bottom: -10px;
        margin-top: -20px;
    }
    nav p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /*Mise en page photo page restaurant*/
    .photo_a_la_francaise {
        background-image: url("../../images/photos/a_la_francaise.jpg");
        background-size: cover;
        background-position: center;
        margin-top: 10px;
        height: 300px;
    }
    .photo_la_palette_du_gout {
        background-image: url("../../images/photos/la_palette_du_gout.jpg");
        background-size: cover;
        background-position: center;
        margin-top: 10px;
        height: 300px;
    }
    .photo_la_note_enchantée {
        background-image: url("../../images/photos/la_note_enchantee.jpg");
        background-size: cover;
        background-position: center;
        margin-top: 10px;
        height: 300px;
    }
    .photo_le_délice_des_sens {
        background-image: url("../../images/photos/le_delice_des_sens.jpg");
        background-size: cover;
        background-position: center;
        margin-top: 10px;
        height: 300px;
    }
    .menu {
        background-color: #f6f6f6;
        border-radius: 40px 40px 0px 0px;
        position: relative;
        top: -40px;
    }
    .legende {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 10px;
        position: relative;
    }
    .legende h1 {
        font-family: 'Shrikhand';
        font-size: 23px;
        padding-left: 20px;
        white-space: nowrap;
    }
    .icone__legende {
        left: 320px;
        top: 35px;
        position: absolute;
    }
    .icone__legende .fas {
        opacity: 0;
        position: absolute;
    }
    .entrees h3, .plats h3, .desserts h3 {
        padding-left: 20px;
        font-size: 13px;
        font-weight: 400;
    }
    hr {
        width: 32px;
        height: 3px;
        border-style: none;
        background-color: #99E2D0;
        position: relative;
        right: 40.5%;
        margin-top: -10px;
    }
    .plats {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .entrees__choix1, .entrees__choix2, .entrees__choix3, .entrees__choix4,
    .plats__choix1, .plats__choix2, .plats__choix3,
    .desserts__choix1, .desserts__choix2, .desserts__choix3 {
        padding: 13px;
        margin: 15px;
        height: 58px;
        border-radius: 1.25rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2%);
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .entrees__choix1--titre, .entrees__choix2--titre, .entrees__choix3--titre, .entrees__choix4--titre,
    .plats__choix1--titre, .plats__choix2--titre, .plats__choix3--titre,
    .desserts__choix1--titre, .desserts__choix2--titre, .desserts__choix3--titre {
        display: flex;
        flex-direction: column;
        width: 85%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .entrees__choix1--titre strong, .entrees__choix1--titre p,
    .entrees__choix2--titre strong, .entrees__choix2--titre p,
    .entrees__choix3--titre strong, .entrees__choix3--titre p,
    .entrees__choix4--titre strong, .entrees__choix4--titre p,
    .plats__choix1--titre strong, .plats__choix1--titre p,
    .plats__choix2--titre strong, .plats__choix2--titre p,
    .plats__choix3--titre strong, .plats__choix3--titre p,
    .desserts__choix1--titre strong, .desserts__choix1--titre p, 
    .desserts__choix2--titre strong, .desserts__choix2--titre p, 
    .desserts__choix3--titre strong, .desserts__choix3--titre p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 5px;
    }
    .entrees__choix1--tarif, .entrees__choix2--tarif, .entrees__choix3--tarif, .entrees__choix4--tarif,
    .plats__choix1--tarif, .plats__choix2--tarif, .plats__choix3--tarif,
    .desserts__choix1--tarif, .desserts__choix2--tarif, .desserts__choix3--tarif {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;     
        font-weight: 700;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-bottom: 5px;
    }
    /*---Animation choix menu---*/
    @keyframes valider{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateX(-60px);
        }       
    }
    @keyframes valider__icone{
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes tarif{
        100% {
            transform: translateX(-60px);
        }
    }
    .entrees__choix1 {  /*A TRAVAILLER*/
        &:hover .entrees__choix1--titre {
            width: 66%;
        }
    }
    .entrees__choix1--titre {
        transition: width 700ms both;
    }
    .entrees__choix1:hover .valider, 
    .entrees__choix2:hover .valider, 
    .entrees__choix3:hover .valider, 
    .entrees__choix4:hover .valider,
    .plats__choix1:hover .valider,
    .plats__choix2:hover .valider,
    .plats__choix3:hover .valider,
    .desserts__choix1:hover .valider,
    .desserts__choix2:hover .valider,
    .desserts__choix3:hover .valider {
        animation: valider 700ms both;
    }
    .entrees__choix1:hover .valider__icone, 
    .entrees__choix2:hover .valider__icone,
    .entrees__choix3:hover .valider__icone, 
    .entrees__choix4:hover .valider__icone,
    .plats__choix1:hover .valider__icone,
    .plats__choix2:hover .valider__icone,
    .plats__choix3:hover .valider__icone,
    .desserts__choix1:hover .valider__icone,
    .desserts__choix2:hover .valider__icone,
    .desserts__choix3:hover .valider__icone {
        animation: valider__icone 700ms both;
    }
    .entrees__choix1:hover .entrees__choix1--tarif, 
    .entrees__choix2:hover .entrees__choix2--tarif,
    .entrees__choix3:hover .entrees__choix3--tarif, 
    .entrees__choix4:hover .entrees__choix4--tarif,
    .plats__choix1:hover .plats__choix1--tarif,
    .plats__choix2:hover .plats__choix2--tarif,
    .plats__choix3:hover .plats__choix3--tarif,
    .desserts__choix1:hover .desserts__choix1--tarif,
    .desserts__choix2:hover .desserts__choix2--tarif,
    .desserts__choix3:hover .desserts__choix3--tarif {
        animation: tarif 700ms both;
    }
    .valider {
        background-color: #99E2D0;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        border-radius: 0 1.25rem 1.25rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }
    .valider__icone {
        height: 1.6rem;
        width: 1.6rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
    .valider__icone .far {
        color: #99E2D0;
        font-size: 200%;
    }
    .commande__bouton {
        display: flex;
        justify-content: center;
    }
    .commande__bouton:hover input {
        transition-duration: 1000ms;
        opacity: 0.80;
        box-shadow: 0px 10px 5px lightgrey;
    }
    .commande__bouton input {
        text-decoration: none;
        border: 0;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 15px;
        border-radius: 100px;
        box-shadow: 0px 5px 5px lightgrey;
        color: #fff;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 70px;
        width: 170px;
    }
    /*Style des icones*/
    .localisation .fas {
        color: black;
    }
    .fonctionnement__choix .fas, 
    .fonctionnement__composition .fas, 
    .fonctionnement__degustation .fas {
        color: #7e7e7e;
    }
    .carte_icone .far {
        font-size: 150%;
    }
    .icone__proposition .fas {
        font-size: 105%;
    }
    .icone__partenaire .fas {
        font-size: 70%;
    }
    .logo__mainb .fas {
        color: black;
    }
    /*--------------------------------*/
    /*----------Animations------------*/
    /*--------------------------------*/
    /*---*/
    /*---Animation page d'accueil---*/
    @keyframes loadingspinner{
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            z-index: -10;
        }
    }
    .loadingspinner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: hsla(0,0%,100%,.9); /*hsla(hue, saturation, lightness, alpha)*/
        animation: loadingspinner 1500ms;
        animation-delay: 1000ms;
        animation-fill-mode: both;
        z-index: 999; /*positionnement au 1er plan*/
    }
    .loadingspinner__icone {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
    }
    .loadingspinner__icone--1 .fas {
        color: #9356DC;
        font-size: 300%;
    }
    .loadingspinner__icone--2 .fas {
        color: #FF79DA;
        font-size: 300%;
    }
    .loadingspinner__icone--3 .fas {
        color: #99E2D0;
        font-size: 300%;   
    }
    /*---Animation des menus---*/
    @keyframes menuchoix{
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        33% {
            opacity: 0.33;
        }
        66% {
            opacity: 0.66;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }      
    }

    $anim-dur: 1500ms;

    .entrees__choix1 {
        /*---------nom_______durée_____delay_fill-mode*/
        animation: menuchoix $anim-dur 500ms both;
    }
    .entrees__choix2 {
        animation: menuchoix $anim-dur 600ms both;
    }
    .entrees__choix3 {
        animation: menuchoix $anim-dur 700ms both;
    }
    .entrees__choix4 {
        animation: menuchoix $anim-dur 800ms both;
    }
    .plats__choix1 {
        animation: menuchoix $anim-dur 900ms both;
    }
    .plats__choix2 {
        animation: menuchoix $anim-dur 1000ms both;
    }
    .plats__choix3 {
        animation: menuchoix $anim-dur 1100ms both;
    }
    .desserts__choix1 {
        animation: menuchoix $anim-dur 1200ms both;
    }
    .desserts__choix2 {
        animation: menuchoix $anim-dur 1300ms both;
    }
    .desserts__choix3 {
        animation: menuchoix $anim-dur 1400ms both;
    }
    /*---Animation coeur aux clics---*/
    .icone__legende .heart {
        z-index: 1;
        cursor: pointer;
        position: relative;
        font-size: 150%;
    }
    .icone__legende .heart-color {
        position: absolute;
        right: 0px;
        z-index: -1;
        background: linear-gradient(0deg,#ff79da 0%, #d66cdb 35%,#ab5edc 70%, #9b59dc 100%); 
        /*Un dégradé qui démarre du bas et va vers le haut qui commence au rose à 0% et fini au magenta à 100% avec 2 étapes à 35 et 70%*/
        background-clip: text;
        -webkit-background-clip: text; /*pas supporté par chrome donc obligé de passer par webkit*/
        color: transparent;
        opacity: 0;
        transform: scale(0);
        transition: 300ms ease-in-out;
    }  
    .heart:hover .heart-color {
        transform: scale(1);
        opacity: 1;
    }
    .heart:hover {
        background: linear-gradient(0deg,#ff79da 0%, #d66cdb 35%,#ab5edc 70%, #9b59dc 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}
/*---Version Desktop---*/
@media (min-width: 800px) {
    .restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .carte {
        width: 50%;
    }
    .carte_icone {
        display: flex;
        justify-content: flex-end;
    }
    .carte_icone .heart {
        width: 24px;
        padding-right: 30px;
        z-index: 1;
        cursor: pointer;
        position: relative;
    }
    .carte_icone .heart-color {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        z-index: -1;
        background: linear-gradient(0deg,#ff79da 0%, #d66cdb 35%,#ab5edc 70%, #9b59dc 100%); 
        /*Un dégradé qui démarre du bas et va vers le haut qui commence au rose à 0% et fini au magenta à 100% avec 2 étapes à 35 et 70%*/
        background-clip: text;
        -webkit-background-clip: text; /*pas supporté par chrome donc obligé de passer par webkit*/
        color: transparent;
        opacity: 0;
        transform: scale(0);
        transition: 300ms ease-in-out;
    }
    .heart:hover .heart-color {
        transform: scale(1);
        opacity: 1;
    }
    .heart:hover {
        background: linear-gradient(0deg,#ff79da 0%, #d66cdb 35%,#ab5edc 70%, #9b59dc 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    /*---Pages---*/
    .menu {
        padding-left: 300px;
        padding-right: 300px;
    }
    .icone__legende {
        display: flex;
        justify-content: flex-end;
        grid-column-start: 2;
    }
    .icone__legende .heart {
        z-index: 1;
        cursor: pointer;
        position: relative;
    }
    .icone__legende .heart-color {
        position: absolute;
        right: 0px;
        z-index: -1;
        background: linear-gradient(0deg,#ff79da 0%, #d66cdb 35%,#ab5edc 70%, #9b59dc 100%); 
        /*Un dégradé qui démarre du bas et va vers le haut qui commence au rose à 0% et fini au magenta à 100% avec 2 étapes à 35 et 70%*/
        background-clip: text;
        -webkit-background-clip: text; /*pas supporté par chrome donc obligé de passer par webkit*/
        color: transparent;
        opacity: 0;
        transform: scale(0);
        transition: 300ms ease-in-out;
    }  
}