@charset "UTF-8";
body {
  font-family: 'Roboto', 'Shrikhand', Arial, 'Arial Black', 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

/*----Animation icone coeur---*/
.carte_icone .far {
  color: #000;
}

.carte_icone .far::before {
  content: "\f004";
  /*content value du coeur sur FontAwesome*/
  -webkit-transition: color 1000ms ease-out;
  transition: color 1000ms ease-out;
}

.carte_icone .far:hover {
  color: #FF79DA;
  font-weight: bold;
  cursor: pointer;
}

/*----Version Mobile----*/
@media all and (max-width: 700px) {
  #bloc_page {
    width: auto;
  }
  .logo__main {
    height: 45px;
    padding-top: 20px;
    text-align: center;
    -webkit-box-shadow: 0 0 0.5rem #c1c1bd;
            box-shadow: 0 0 0.5rem #c1c1bd;
    position: relative;
  }
  .logo__mainb {
    text-align: center;
    padding-top: 20px;
    padding-right: 70px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .logo__mainb a {
    text-decoration: none;
    padding-right: 70px;
    position: absolute;
    left: 2rem;
    top: 1.5rem;
  }
  .logob {
    padding-left: 5rem;
  }
  .logo, .logob {
    width: 50%;
  }
  .localisation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px 0;
    background-color: #eaeaea;
  }
  .localisation__texte {
    font-size: 100%;
    border: none;
    background: none;
    text-align: center;
    font-weight: bold;
    color: black;
    width: 45%;
  }
  .localisation input::-webkit-input-placeholder {
    color: black;
  }
  .localisation input:-ms-input-placeholder {
    color: black;
  }
  .localisation input::-ms-input-placeholder {
    color: black;
  }
  .localisation input::placeholder {
    color: black;
  }
  .decouverte {
    padding: 2rem;
    text-align: center;
    background-color: #f6f6f6;
  }
  .decouverte h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .decouverte p {
    font-weight: 300;
    margin: 1.5rem 0;
  }
  .decouverte__bouton {
    text-decoration: none;
    border: 0;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 100px;
    color: #fff;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  }
  .fonctionnement h1 {
    margin-left: 30px;
    margin-top: 40px;
  }
  .fonctionnement__menu {
    list-style: none;
    padding-left: 30px;
    margin-right: 20px;
  }
  .fonctionnement__choix, .fonctionnement__composition, .fonctionnement__degustation {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    border-radius: 1.25rem;
    -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .fonctionnement__choix:hover,
  .fonctionnement__composition:hover,
  .fonctionnement__degustation:hover {
    background-color: #f5edff;
    -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  .fonctionnement__choix:hover .fas,
  .fonctionnement__composition:hover .fas,
  .fonctionnement__degustation:hover .fas {
    color: #9356DC;
  }
  .fonctionnement__choix .fas,
  .fonctionnement__composition .fas,
  .fonctionnement__degustation .fas {
    margin-left: -40px;
  }
  .numero {
    border-radius: 50%;
    background-color: #9356DC;
    color: #fff;
    position: relative;
    width: 20px;
    height: 20px;
    right: 35px;
    text-align: center;
  }
  .choix {
    font-weight: bold;
  }
  .restaurant {
    background-color: #f6f6f6;
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 60px;
  }
  .restaurant h1 {
    padding-left: 20px;
  }
  .carte {
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
  }
  .carte a {
    text-decoration: none;
    color: black;
  }
  .carte__legende {
    border-radius: 0px 0px 15px 15px;
    background-color: #fff;
    margin-bottom: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .carte__nom {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .carte__lieu {
    font-size: 14px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .carte_icone {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-row: span 2;
    padding-left: 100px;
    padding-top: 10px;
  }
  .nouveau {
    background-color: #99e2d0;
    color: #1b6150;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 7px;
    border-radius: 2px;
    font-weight: bold;
  }
  .la_palette_du_gout {
    background-image: url("../../images/photos/la_palette_du_gout.jpg");
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
    background-position: center;
    height: 180px;
  }
  .la_note_enchantee {
    background-image: url("../../images/photos/la_note_enchantee.jpg");
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
    background-position: center;
    height: 180px;
  }
  .a_la_francaise {
    background-image: url("../../images/photos/a_la_francaise.jpg");
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
    background-position: center;
    height: 180px;
  }
  .le_délice_des_sens {
    background-image: url("../../images/photos/le_delice_des_sens.jpg");
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
    background-position: center;
    height: 180px;
  }
  footer {
    background-color: #353535;
    margin-top: -60px;
  }
  footer h2 {
    color: #fff;
    font-family: 'Shrikhand';
    font-size: 1.2rem;
    margin-bottom: 8px;
    margin-left: 25px;
    padding-top: 30px;
    font-weight: normal;
  }
  nav {
    padding-bottom: 20px;
  }
  nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 25px;
  }
  .icone__proposition, .icone__partenaire {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25px;
    margin-bottom: -10px;
    margin-top: -20px;
  }
  nav p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /*Mise en page photo page restaurant*/
  .photo_a_la_francaise {
    background-image: url("../../images/photos/a_la_francaise.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    height: 300px;
  }
  .photo_la_palette_du_gout {
    background-image: url("../../images/photos/la_palette_du_gout.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    height: 300px;
  }
  .photo_la_note_enchantée {
    background-image: url("../../images/photos/la_note_enchantee.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    height: 300px;
  }
  .photo_le_délice_des_sens {
    background-image: url("../../images/photos/le_delice_des_sens.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    height: 300px;
  }
  .menu {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    top: -40px;
  }
  .legende {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    position: relative;
  }
  .legende h1 {
    font-family: 'Shrikhand';
    font-size: 23px;
    padding-left: 20px;
    white-space: nowrap;
  }
  .icone__legende {
    left: 320px;
    top: 37px;
    position: absolute;
  }
  .entrees h3, .plats h3, .desserts h3 {
    padding-left: 20px;
    font-size: 13px;
    font-weight: 400;
  }
  hr {
    width: 32px;
    height: 3px;
    border-style: none;
    background-color: #99E2D0;
    position: relative;
    right: 40.5%;
    margin-top: -10px;
  }
  .plats {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .entrees__choix1, .entrees__choix2, .entrees__choix3, .entrees__choix4,
  .plats__choix1, .plats__choix2, .plats__choix3,
  .desserts__choix1, .desserts__choix2, .desserts__choix3 {
    padding: 15px;
    margin: 15px;
    border-radius: 1.25rem;
    -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .entrees__choix1--titre, .entrees__choix2--titre, .entrees__choix3--titre, .entrees__choix4--titre,
  .plats__choix1--titre, .plats__choix2--titre, .plats__choix3--titre,
  .desserts__choix1--titre, .desserts__choix2--titre, .desserts__choix3--titre {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column: span 3;
    -ms-grid-row: 1;
    grid-row: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .entrees__choix1--indication, .entrees__choix2--indication, .entrees__choix3--indication, .entrees__choix4--indication,
  .plats__choix1--indication, .plats__choix2--indication, .plats__choix3--indication,
  .desserts__choix1--indication, .desserts__choix2--indication, .desserts__choix3--indication {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column: span 3;
    font-size: 13px;
    height: 20px;
    margin-top: -10px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .entrees__choix1--tarif, .entrees__choix2--tarif, .entrees__choix3--tarif, .entrees__choix4--tarif,
  .plats__choix1--tarif, .plats__choix2--tarif, .plats__choix3--tarif,
  .desserts__choix1--tarif, .desserts__choix2--tarif, .desserts__choix3--tarif {
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-row: 2;
    grid-row: 2;
    padding-left: 50px;
    padding-top: 10px;
    font-weight: 700;
    margin-top: -10px;
  }
  /*a travailler.choix {
        background-color: #99E2D0;
        border-radius: 0 15px 15px 0;
        width: 0;
        padding: 24px 0;
        text-align: center;
        color: white;
    }*/
  .commande__bouton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .commande__bouton input {
    text-decoration: none;
    border: 0;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 100px;
    color: #fff;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 170px;
  }
  /*Style des icones*/
  .localisation .fas {
    color: black;
  }
  .fonctionnement__choix .fas,
  .fonctionnement__composition .fas,
  .fonctionnement__degustation .fas {
    color: #7e7e7e;
  }
  .carte_icone .far {
    font-size: 150%;
  }
  .icone__proposition .fas {
    font-size: 105%;
  }
  .icone__partenaire .fas {
    font-size: 70%;
  }
  .logo__mainb .fas {
    color: black;
  }
  /*--------------------------------*/
  /*----------Animations------------*/
  /*--------------------------------*/
  /*---*/
  /*---Animation page d'accueil---*/
  @-webkit-keyframes loadingspinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
  @keyframes loadingspinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
  .loadingspinner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    /*hsla(hue, saturation, lightness, alpha)*/
    -webkit-animation: loadingspinner 1500ms;
            animation: loadingspinner 1500ms;
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    z-index: 999;
    /*positionnement au 1er plan*/
  }
  .loadingspinner__icone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .loadingspinner__icone--1 .fas {
    color: #9356DC;
    font-size: 300%;
  }
  .loadingspinner__icone--2 .fas {
    color: #FF79DA;
    font-size: 300%;
  }
  .loadingspinner__icone--3 .fas {
    color: #99E2D0;
    font-size: 300%;
  }
  /*---Animation des menus---*/
  @-webkit-keyframes menuchoix {
    0% {
      opacity: 0;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    33% {
      opacity: 0.33;
    }
    66% {
      opacity: 0.66;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes menuchoix {
    0% {
      opacity: 0;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    33% {
      opacity: 0.33;
    }
    66% {
      opacity: 0.66;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .entrees__choix1 {
    /*---------nom_______durée_____delay_fill-mode*/
    -webkit-animation: menuchoix 1500ms 500ms both;
            animation: menuchoix 1500ms 500ms both;
  }
  .entrees__choix2 {
    -webkit-animation: menuchoix 1500ms 600ms both;
            animation: menuchoix 1500ms 600ms both;
  }
  .entrees__choix3 {
    -webkit-animation: menuchoix 1500ms 700ms both;
            animation: menuchoix 1500ms 700ms both;
  }
  .entrees__choix4 {
    -webkit-animation: menuchoix 1500ms 800ms both;
            animation: menuchoix 1500ms 800ms both;
  }
  .plats__choix1 {
    -webkit-animation: menuchoix 1500ms 900ms both;
            animation: menuchoix 1500ms 900ms both;
  }
  .plats__choix2 {
    -webkit-animation: menuchoix 1500ms 1000ms both;
            animation: menuchoix 1500ms 1000ms both;
  }
  .plats__choix3 {
    -webkit-animation: menuchoix 1500ms 1100ms both;
            animation: menuchoix 1500ms 1100ms both;
  }
  .desserts__choix1 {
    -webkit-animation: menuchoix 1500ms 1200ms both;
            animation: menuchoix 1500ms 1200ms both;
  }
  .desserts__choix2 {
    -webkit-animation: menuchoix 1500ms 1300ms both;
            animation: menuchoix 1500ms 1300ms both;
  }
  .desserts__choix3 {
    -webkit-animation: menuchoix 1500ms 1400ms both;
            animation: menuchoix 1500ms 1400ms both;
  }
}
/*# sourceMappingURL=animation.css.map */