@charset "UTF-8";
body {
  font-family: 'Roboto', 'Shrikhand', Arial, 'Arial Black', 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

/*----Version Mobile----*/
@media (min-width: 50px) {
  #bloc_page {
    width: auto;
  }
  /*--------------------------*/
  /*---------VARIABLES--------*/
  /*--------------------------*/
  /*Variable des couleurs*/
  /*Variable durée animation loader/apparition des plats page menu*/
  /*Variable délai animation d'apparition des plats*/
  /*Variable durée animation choix menu*/
  /*--------------------------*/
  /*----------MIXINS----------*/
  /*--------------------------*/
  /*Mixin mise en page images des cartes*/
  /*Mixin mise en page des photos des pages restaurants*/
  /*Mixin positionnement des icones du footer*/
  /*Mixin pas de retour à la ligne/... si texte dépasse*/
  /*Fait le lien avec le fichier SCSS contenant les variables/mixins*/
  /*Logo page d'accueil*/
  .logo-a {
    height: 45px;
    padding-top: 20px;
    text-align: center;
    -webkit-box-shadow: 0 0 0.5rem #c1c1bd;
            box-shadow: 0 0 0.5rem #c1c1bd;
    /*Ligne foncé sous le logo*/
    position: relative;
    /*Permet d'afficher la bordure ombrée au dessus du background gris de localisation*/
  }
  .logo-a__accueil {
    width: 50%;
  }
  /*logo pages restaurants*/
  .logo-p {
    text-align: center;
    padding-top: 20px;
    padding-right: 70px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .logo-p__page {
    width: 50%;
    padding-left: 5rem;
  }
  .logo-p a {
    /*Flêche de retour à la page d'accueil*/
    text-decoration: none;
    padding-right: 70px;
    position: absolute;
    /*Permet de placer la flèche*/
    left: 2rem;
    top: 1.5rem;
  }
  .logo-p .fas {
    /*Icone flèche retour en arrière des pages de restaurant*/
    color: #000;
  }
  /*Champ de saisie de localisation*/
  .localisation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px 0;
    background-color: #eaeaea;
  }
  .localisation__texte {
    font-size: 100%;
    border: none;
    background: none;
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    color: #000;
    width: 45%;
  }
  .localisation input::-webkit-input-placeholder {
    /*Affiche par défaut un texte*/
    color: #000;
  }
  .localisation input:-ms-input-placeholder {
    /*Affiche par défaut un texte*/
    color: #000;
  }
  .localisation input::-ms-input-placeholder {
    /*Affiche par défaut un texte*/
    color: #000;
  }
  .localisation input::placeholder {
    /*Affiche par défaut un texte*/
    color: #000;
  }
  .localisation .fas {
    /*Icone Localisation*/
    color: #000;
  }
  /*Zone slogan + bouton explorer*/
  .decouverte {
    padding: 2rem;
    text-align: center;
    background-color: #f6f6f6;
  }
  .decouverte h2 {
    /*Slogan*/
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .decouverte p {
    /*Sous-titre*/
    font-weight: 300;
    margin: 1.5rem 0;
    /*marge top/bot=1.5 marge left/right=0*/
  }
  .decouverte__bouton {
    /*Bouton Explorer nos restaurants*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .decouverte__bouton input {
    text-decoration: none;
    border: 0;
    padding: 12px 30px;
    font-weight: 400;
    font-size: 15px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 5px 5px lightgrey;
            box-shadow: 0px 5px 5px lightgrey;
    color: #fff;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    /*dégradé*/
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .decouverte__bouton:hover {
    /*Animation au survol*/
  }
  .decouverte__bouton:hover input {
    -webkit-transition-duration: 1000ms;
            transition-duration: 1000ms;
    opacity: 0.80;
    /*S'éclaire*/
    -webkit-box-shadow: 0px 10px 5px lightgrey;
            box-shadow: 0px 10px 5px lightgrey;
    /*Ombre portée légèrement plus visisble*/
  }
  /*Menu Fonctionnement*/
  .fonctionnement h1 {
    margin-left: 30px;
    margin-top: 40px;
  }
  .fonctionnement__menu {
    list-style: none;
    /*Enlève les li*/
    padding-left: 30px;
    margin-right: 20px;
  }
  .fonctionnement__menu--option {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    border-radius: 1.25rem;
    -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .fonctionnement__menu--option:hover {
    /*Devient plus foncé et ombres plus marquées au survol*/
    background-color: #f5edff;
    -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .fonctionnement__menu--option:hover .fas {
    color: #9356DC;
    /*Change l'icone de couleur au survol*/
  }
  .fonctionnement__menu--option .fas {
    /*Icones du menu Fonctionnement*/
    color: #7e7e7e;
    margin-left: -40px;
  }
  /*Balise numérotée 1 à 3*/
  .numero {
    border-radius: 50%;
    background-color: #9356DC;
    color: #fff;
    position: relative;
    /*Placement*/
    width: 20px;
    height: 20px;
    right: 35px;
    text-align: center;
  }
  /*Texte du menu*/
  .choix {
    font-weight: bold;
  }
  /*Section des Restaurants*/
  .restaurant {
    background-color: #f6f6f6;
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 60px;
  }
  .restaurant h1 {
    padding-left: 20px;
  }
  /*Carte des restaurants*/
  .carte {
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    /*Permet le placement du stickers "Nouveau"*/
  }
  .carte__legende {
    /*Légende des cartes des restaurants*/
    border-radius: 0px 0px 15px 15px;
    background-color: #fff;
    margin-bottom: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
    row-gap: 5px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .carte__legende--nom {
    /*Nom des restaurants dans les cartes*/
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .carte__legende--lieu {
    /*Lieu des restaurant dans les cartes*/
    font-size: 14px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .carte__legende--icone {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-row: span 2;
    padding-top: 10px;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .carte__legende--icone .heart {
    /*Coeur page d'accueil*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 24px;
    font-size: 150%;
    z-index: 1;
    /*Icone coeur vide au 1er plan*/
    cursor: pointer;
    position: relative;
  }
  .carte__legende--icone .heart:hover {
    /*Au survol du coeur vide, le coeur vide voit sa bordure prendre le même dégradé que le coeur plein pour se confondre*/
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(35%, #d96edf), color-stop(70%, #b261e4), to(#9356DC));
    background: linear-gradient(0deg, #FF79DA 0%, #d96edf 35%, #b261e4 70%, #9356DC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .carte__legende--icone .heart:hover .heart-color {
    /*Au survol du coeur vide, le coeur plein devient visible et grandi*/
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  .carte__legende--icone .heart-color {
    /*Icone coeur "plein" caché & transition*/
    right: 0px;
    position: absolute;
    z-index: -1;
    /*Icone coeur plein au second plan*/
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(35%, #d96edf), color-stop(70%, #b261e4), to(#9356DC));
    background: linear-gradient(0deg, #FF79DA 0%, #d96edf 35%, #b261e4 70%, #9356DC 100%);
    /*Un dégradé qui démarre du bas et va vers le haut qui commence de la couleur secondaire à 0% et fini à la couleur primaire à 100% avec 2 étapes à 35 et 70%*/
    background-clip: text;
    /*Permet au background d'être appliqué sur le coeur qui ne prend que la propriété color normalement*/
    -webkit-background-clip: text;
    /*pas supporté par chrome donc obligé de passer par webkit*/
    color: transparent;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    /*L'animation commence lentement, accèlere puis ralentit à nouveau avant la fin*/
  }
  .carte a {
    /*Lien des cartes*/
    text-decoration: none;
    color: #000;
  }
  /*Stickers*/
  .nouveau {
    background-color: #99E2D0;
    color: #1b6150;
    position: absolute;
    /*Permet le placement du stickers sur une carte*/
    top: 10px;
    right: 10px;
    padding: 7px;
    border-radius: 2px;
    font-weight: bold;
  }
  /*Mise en page des images des cartes*/
  .la_palette_du_gout {
    background-image: url("../../images/photos/la_palette_du_gout.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    height: 180px;
    /*Application de la mixin*/
  }
  .la_note_enchantee {
    background-image: url("../../images/photos/la_note_enchantee.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    height: 180px;
  }
  .a_la_francaise {
    background-image: url("../../images/photos/a_la_francaise.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    height: 180px;
  }
  .le_délice_des_sens {
    background-image: url("../../images/photos/le_delice_des_sens.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    height: 180px;
  }
  /*------------*/
  /*---Footer---*/
  /*------------*/
  footer {
    background-color: #353535;
    margin-top: -60px;
  }
  footer h2 {
    color: #fff;
    font-family: 'Shrikhand';
    font-size: 1.2rem;
    margin-bottom: 8px;
    margin-left: 25px;
    padding-top: 30px;
    font-weight: normal;
    /*Gras plus fin*/
  }
  nav {
    padding-bottom: 20px;
  }
  nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 25px;
  }
  nav p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav p:hover {
    text-decoration: underline;
    /*Souligne les liens au survol*/
  }
  /*Icone du Footer*/
  .icone__proposition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25px;
    margin-bottom: -10px;
    margin-top: -20px;
  }
  .icone__proposition .fas {
    font-size: 105%;
  }
  .icone__partenaire {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25px;
    margin-bottom: -10px;
    margin-top: -20px;
  }
  .icone__partenaire .fas {
    font-size: 70%;
  }
  /*Mise en page photo des pages restaurants*/
  .photo_a_la_francaise {
    background-image: url("../../images/photos/a_la_francaise.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    height: 300px;
  }
  .photo_la_palette_du_gout {
    background-image: url("../../images/photos/la_palette_du_gout.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    height: 300px;
  }
  .photo_la_note_enchantée {
    background-image: url("../../images/photos/la_note_enchantee.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    height: 300px;
  }
  .photo_le_délice_des_sens {
    background-image: url("../../images/photos/le_delice_des_sens.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    height: 300px;
  }
  /*Menu des restaurants*/
  .menu {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    /*Superpose sur la photo du restaurant en haut*/
    top: -40px;
  }
  /*Nom du restaurant + icone coeur*/
  .legende {
    padding-top: 10px;
    position: relative;
  }
  .legende h1 {
    font-family: 'Shrikhand';
    font-size: 23px;
    padding-left: 20px;
    white-space: nowrap;
  }
  .legende__icone {
    left: 320px;
    top: 35px;
    position: absolute;
  }
  .legende__icone .heart {
    /*Coeurs des pages restaurants*/
    z-index: 1;
    /*Icone coeur vide au 1er plan*/
    cursor: pointer;
    position: relative;
    font-size: 150%;
  }
  .legende__icone .heart:hover {
    /*Au survol du coeur vide, le coeur vide voit sa bordure prendre le même dégradé que le coeur plein pour se confondre*/
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(35%, #d96edf), color-stop(70%, #b261e4), to(#9356DC));
    background: linear-gradient(0deg, #FF79DA 0%, #d96edf 35%, #b261e4 70%, #9356DC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .legende__icone .heart:hover .heart-color {
    /*Au survol du coeur vide, le coeur plein devient visible et grandi*/
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  .legende__icone .heart-color {
    /*Icone coeur "plein" caché & transition*/
    right: 0px;
    position: absolute;
    z-index: -1;
    /*Icone coeur plein au second plan*/
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(35%, #d96edf), color-stop(70%, #b261e4), to(#9356DC));
    background: linear-gradient(0deg, #FF79DA 0%, #d96edf 35%, #b261e4 70%, #9356DC 100%);
    /*Un dégradé qui démarre du bas et va vers le haut qui commence de la couleur secondaire à 0% et fini à la couleur primaire à 100% avec 2 étapes à 35 et 70%*/
    background-clip: text;
    /*Permet au background d'être appliqué sur le coeur qui ne prend que la propriété color normalement*/
    -webkit-background-clip: text;
    /*pas supporté par chrome donc obligé de passer par webkit*/
    color: transparent;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    /*L'animation commence lentement, accèlere puis ralentit à nouveau avant la fin*/
  }
  /*Différents type de plats*/
  .entrees {
    margin-top: 50px;
  }
  h3 {
    padding-left: 20px;
    font-size: 13px;
    font-weight: 400;
  }
  /*Barre verte : élément de rupture thématique*/
  hr {
    width: 32px;
    height: 3px;
    border-style: none;
    background-color: #99E2D0;
    position: relative;
    right: 40.5%;
    margin-top: -10px;
  }
  .plats {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  /*Coche de validation caché*/
  .valider {
    background-color: #99E2D0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    border-radius: 0 1.25rem 1.25rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    /*Invisible*/
  }
  .valider__icone {
    /*Zone de l'icone de la coche de validation*/
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*Duplication sinon décalage icone*/
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 100px;
  }
  .valider__icone .far {
    /*Icone de validation*/
    color: #99E2D0;
    font-size: 200%;
  }
  /*Bouton commander des pages restaurants*/
  .commande__bouton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .commande__bouton input {
    text-decoration: none;
    border: 0;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 5px 5px lightgrey;
            box-shadow: 0px 5px 5px lightgrey;
    color: #fff;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 170px;
  }
  .commande__bouton:hover {
    /*Animation au survol*/
  }
  .commande__bouton:hover input {
    -webkit-transition-duration: 1000ms;
            transition-duration: 1000ms;
    opacity: 0.80;
    /*S'éclaire*/
    -webkit-box-shadow: 0px 10px 5px lightgrey;
            box-shadow: 0px 10px 5px lightgrey;
    /*Ombre portée légèrement plus visisble*/
  }
  /*------------------------------*/
  /*---Animation page d'accueil---*/
  /*------------------------------*/
  /*Fait apparaitre un loadingspinner puis le fait disparaitre au chargement de la page d'accueil*/
  @-webkit-keyframes loadingspinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
  @keyframes loadingspinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
  /*Loader*/
  .loadingspinner {
    width: 100%;
    /*Couvre toute la page*/
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    /*Permet le placement au centre de la page*/
    background-color: rgba(255, 255, 255, 0.9);
    /*hsla(hue, saturation, lightness, alpha)*/
    z-index: 999;
    /*positionnement au 1er plan*/
    -webkit-animation: loadingspinner 1500ms 1000ms both;
            animation: loadingspinner 1500ms 1000ms both;
    /*Application de la keyframe au chargement de la page d'accueil*/
    /*nom keyframe durée  délai  extention propiété*/
  }
  .loadingspinner__icone {
    /*Icones du loader*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    font-size: 300%;
  }
  .loadingspinner__icone--1 .fas {
    color: #9356DC;
  }
  .loadingspinner__icone--2 .fas {
    color: #FF79DA;
  }
  .loadingspinner__icone--3 .fas {
    color: #99E2D0;
  }
  /*-------------------------*/
  /*---Animation des menus---*/
  /*-------------------------*/
  /*Fait apparaitre les choix des plats et les fait monter légèrement au chargement de la page d'un restaurant*/
  @-webkit-keyframes menuchoix {
    0% {
      opacity: 0;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    33% {
      opacity: 0.33;
    }
    66% {
      opacity: 0.66;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes menuchoix {
    0% {
      opacity: 0;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    33% {
      opacity: 0.33;
    }
    66% {
      opacity: 0.66;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  /*Fait apparaitre la coche de validation et la fait bouger de gauche à droite*/
  @-webkit-keyframes valider {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(-60px);
              transform: translateX(-60px);
    }
  }
  @keyframes valider {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(-60px);
              transform: translateX(-60px);
    }
  }
  /*Fait pivoter l'icone de la coche de validation*/
  @-webkit-keyframes valider__icone {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes valider__icone {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  /*Fait bouger de gauche à droite le tarif*/
  @-webkit-keyframes tarif {
    100% {
      -webkit-transform: translateX(-60px);
              transform: translateX(-60px);
    }
  }
  @keyframes tarif {
    100% {
      -webkit-transform: translateX(-60px);
              transform: translateX(-60px);
    }
  }
  /*Réduit la zone des intitulés de plats par la droite*/
  @-webkit-keyframes indication {
    0% {
      margin-right: 0px;
    }
    100% {
      margin-right: 60px;
    }
  }
  @keyframes indication {
    0% {
      margin-right: 0px;
    }
    100% {
      margin-right: 60px;
    }
  }
  /*Application de la keyframe au chargement d'une page de restaurant*/
  .menu__choix {
    padding: 13px;
    margin: 15px;
    height: 58px;
    border-radius: 1.25rem;
    -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    white-space: nowrap;
    /*Pas de retour à la ligne*/
    text-overflow: ellipsis;
    /*Met des "..." si le texte dépasse de la zone textuelle*/
    overflow: hidden;
    /*Cache contenue qui sort de la zone de son bloc*/
    -webkit-animation: menuchoix 1500ms both;
            animation: menuchoix 1500ms both;
    /*nom keyframe / durée / extension de la propriété avec fill-mode*/
    /*Boucle Sass permettant de répéter l'instruction jusqu'à 10 fois*/
    /*Boucle Sass permettant de répéter l'instruction jusqu'à 10 fois*/
    /*Boucle Sass permettant de répéter l'instruction jusqu'à 10 fois*/
    /*Boucle Sass permettant de répéter l'instruction jusqu'à 10 fois*/
    /*Boucle Sass permettant de répéter l'instruction jusqu'à 10 fois*/
    /*Boucle Sass permettant de répéter l'instruction jusqu'à 10 fois*/
    /*Boucle Sass permettant de répéter l'instruction jusqu'à 10 fois*/
    /*Boucle Sass permettant de répéter l'instruction jusqu'à 10 fois*/
    /*Boucle Sass permettant de répéter l'instruction jusqu'à 10 fois*/
    /*Boucle Sass permettant de répéter l'instruction jusqu'à 10 fois*/
  }
  .menu__choix--1 {
    /*& ----> .menu__choix*/
    -webkit-animation-delay: 150ms;
            animation-delay: 150ms;
    /*Délai en fonction de l'ordre numéroté*/
  }
  .menu__choix--2 {
    /*& ----> .menu__choix*/
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
    /*Délai en fonction de l'ordre numéroté*/
  }
  .menu__choix--3 {
    /*& ----> .menu__choix*/
    -webkit-animation-delay: 450ms;
            animation-delay: 450ms;
    /*Délai en fonction de l'ordre numéroté*/
  }
  .menu__choix--4 {
    /*& ----> .menu__choix*/
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
    /*Délai en fonction de l'ordre numéroté*/
  }
  .menu__choix--5 {
    /*& ----> .menu__choix*/
    -webkit-animation-delay: 750ms;
            animation-delay: 750ms;
    /*Délai en fonction de l'ordre numéroté*/
  }
  .menu__choix--6 {
    /*& ----> .menu__choix*/
    -webkit-animation-delay: 900ms;
            animation-delay: 900ms;
    /*Délai en fonction de l'ordre numéroté*/
  }
  .menu__choix--7 {
    /*& ----> .menu__choix*/
    -webkit-animation-delay: 1050ms;
            animation-delay: 1050ms;
    /*Délai en fonction de l'ordre numéroté*/
  }
  .menu__choix--8 {
    /*& ----> .menu__choix*/
    -webkit-animation-delay: 1200ms;
            animation-delay: 1200ms;
    /*Délai en fonction de l'ordre numéroté*/
  }
  .menu__choix--9 {
    /*& ----> .menu__choix*/
    -webkit-animation-delay: 1350ms;
            animation-delay: 1350ms;
    /*Délai en fonction de l'ordre numéroté*/
  }
  .menu__choix--10 {
    /*& ----> .menu__choix*/
    -webkit-animation-delay: 1500ms;
            animation-delay: 1500ms;
    /*Délai en fonction de l'ordre numéroté*/
  }
  .menu__choix--titre {
    /*Zone des intitulés des plats*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
    white-space: nowrap;
    /*Pas de retour à la ligne*/
    text-overflow: ellipsis;
    /*Met des "..." si le texte dépasse de la zone textuelle*/
    overflow: hidden;
    /*Cache contenue qui sort de la zone de son bloc*/
  }
  .menu__choix--titre strong {
    /*Intitulés des plats*/
    white-space: nowrap;
    /*Pas de retour à la ligne*/
    text-overflow: ellipsis;
    /*Met des "..." si le texte dépasse de la zone textuelle*/
    overflow: hidden;
    /*Cache contenue qui sort de la zone de son bloc*/
    margin: 5px;
  }
  .menu__choix--titre p {
    /*Indications des plats*/
    white-space: nowrap;
    /*Pas de retour à la ligne*/
    text-overflow: ellipsis;
    /*Met des "..." si le texte dépasse de la zone textuelle*/
    overflow: hidden;
    /*Cache contenue qui sort de la zone de son bloc*/
    margin: 5px;
  }
  .menu__choix--tarif {
    /*Tarifs des plats*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-weight: 700;
    white-space: nowrap;
    /*Pas de retour à la ligne*/
    text-overflow: ellipsis;
    /*Met des "..." si le texte dépasse de la zone textuelle*/
    padding-bottom: 5px;
  }
  .menu__choix:hover {
    /*Application de la keyframe sur la zone de intitulé des plats au survol des choix du menu*/
  }
  .menu__choix:hover .menu__choix--titre {
    -webkit-animation: indication 700ms both;
            animation: indication 700ms both;
    /*both: permet d'étendre la propriétéde la keyframe*/
    /*nom keyframe  durée*/
  }
  .menu__choix:hover .valider {
    /*Application de la keyframe sur la coche au survol des choix du menu*/
    -webkit-animation: valider 700ms both;
            animation: valider 700ms both;
  }
  .menu__choix:hover .valider__icone {
    /*Application de la keyframe sur l'icone de la coche au survol des choix du menu*/
    -webkit-animation: valider__icone 700ms both;
            animation: valider__icone 700ms both;
  }
  .menu__choix:hover .menu__choix--tarif {
    /*Application de la keyframe sur les tarifs au survol des choix du menu*/
    -webkit-animation: tarif 700ms both;
            animation: tarif 700ms both;
  }
}

/*---Version Tablette---*/
@media (min-width: 400px) {
  /*Loadingspinner*/
  .loadingspinner__icone {
    font-size: 450%;
  }
  /*Logo header*/
  .logo-a {
    height: 75px;
    padding-top: 10px;
  }
  .logo-a__accueil {
    width: auto;
  }
  .logo-p__page {
    width: auto;
  }
  .logo-p .fas {
    /*Icone flèche de retour du header des pages restaurants*/
    font-size: 200%;
  }
  .logo-p a {
    top: 35px;
  }
  /*Icone Localisation*/
  .localisation .fas {
    font-size: 110%;
    padding-top: 3px;
  }
  .localisation__texte {
    font-size: 20px;
    width: 20%;
  }
  /*Slogan*/
  .decouverte h2 {
    font-size: 30px;
  }
  .decouverte p {
    font-size: 22px;
  }
  /*Bouton Explorer nos restaurants*/
  .decouverte__bouton input {
    font-size: 20px;
    padding: 15px 30px;
  }
  /*Menu Fonctionnement*/
  .fonctionnement h1 {
    font-size: 30px;
  }
  .choix {
    font-size: 23px;
  }
  /*Icones du menu Fonctionnement*/
  .fonctionnement__menu--option .fas {
    font-size: 120%;
    padding-top: 3px;
  }
  .numero {
    width: 25px;
    height: 25px;
    padding-top: 2px;
  }
  .restaurant h1 {
    font-size: 30px;
  }
  /*Mise en page photos des restaurants*/
  .la_palette_du_gout, .la_note_enchantee, .a_la_francaise, .le_délice_des_sens {
    height: 250px;
  }
  .carte__legende {
    font-size: 18px;
  }
  .carte__legende--lieu {
    font-size: 17px;
  }
  /*Footer*/
  footer h2 {
    font-size: 25px;
  }
  nav p {
    font-size: 20px;
  }
  /*Icones du Footer*/
  .icone__proposition .fas {
    font-size: 125%;
  }
  .icone__partenaire .fas {
    font-size: 90%;
  }
  /*Titre restaurant des pages restaurants*/
  .legende h1 {
    font-size: 30px;
  }
  /*Icone coeur*/
  .legende__icone {
    left: 670px;
    top: 40px;
  }
  .legende__icone .heart {
    font-size: 200%;
  }
  h3 {
    font-size: 16px;
  }
  /*Elément de rupture thématique*/
  hr {
    margin: -10px 0 0 20px;
    width: 40px;
    position: static;
    /*Annule position relative*/
  }
  .menu__choix--titre {
    /*Nom des plats*/
  }
  .menu__choix--titre strong {
    margin: 2px;
    font-size: 20px;
  }
  .menu__choix--titre p {
    margin: 2px;
    font-size: 20px;
  }
  .menu__choix--tarif {
    /*Tarifs des plats*/
    font-size: 20px;
  }
  /*Icone de validation*/
  .valider__icone .far {
    font-size: 230%;
  }
  /*Bouton de commande*/
  .commande__bouton input {
    font-size: 20px;
    padding: 15px 30px;
    width: auto;
    /*Annule taille de la version mobile*/
  }
}

/*---Version Desktop---*/
@media (min-width: 800px) {
  .restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carte {
    width: 50%;
  }
  .carte__legende--icone .heart {
    width: 36px;
  }
  /*---Pages---*/
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .legende, .entrees, .plats, .desserts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*Mise en page photo des pages restaurants*/
  .photo_la_palette_du_gout, .photo_a_la_francaise, .photo_la_note_enchantée, .photo_le_délice_des_sens {
    height: 400px;
  }
  /*Icone coeur page des restaurants*/
  .legende__icone {
    left: 310px;
  }
  /*Plats du menu*/
  .menu__choix {
    width: 400px;
  }
}
/*# sourceMappingURL=animation.css.map */